.levelItems
{
   text-align: right;
}

.levelItem
{
   display: inline-block;
   width: 24px;
   height: 24px;
   margin: 2px;
}

.levelItem.disabled
{
   opacity: .5;
}

a.levelItem:link,
a.levelItem:hover,
a.levelItem:visited,
a.levelItem:active
{
   text-decoration: none;
}

.levelItem.Next {
   background-image: url(images/Next.svg);
}

.levelItem.Last {
   background-image: url(images/Last.svg);
}

.levelItem.Previous {
   background-image: url(images/Previous.svg);
}

.levelItem.First {
   background-image: url(images/First.svg);
}

.levelItem.Inside {
   background-image: url(images/Inside.svg);
}

.levelItem.Outside {
   background-image: url(images/Outside.svg);
}